---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "A short-term goal",
    description:
      "To build capacity within the group and in the institutions/programmes of their collaborators through the training of new modellers and data analysts.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "A long-term goal",
    description:
      "To create a productive and sustainable collaborative modelling network in South East Asia which links with and supports the discipline in all tropical settings.",
    icon: "bx:bxs-window-alt",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    MAEMOD Mission
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
