<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} MAEMOD. All rights reserved.
  </p>
  <div class="mt-2 flex justify-center space-x-4">
    <a href="https://github.com/MAEMOD-MORU" target="_blank" rel="noopener" class="text-gray-600 hover:text-gray-900 transition">
      GitHub
    </a>
    <span class="text-gray-400">|</span>
    <a href="https://twitter.com/MORUBKK" target="_blank" rel="noopener" class="text-gray-600 hover:text-gray-900 transition">
      Twitter
    </a>
    <span class="text-gray-400">|</span>
    <a href="https://www.tropmedres.ac" target="_blank" rel="noopener" class="text-gray-600 hover:text-gray-900 transition">
      MORU
    </a>
  </div>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <!-- <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p> -->
</footer>
