---
import { Picture } from "astro:assets";
import TeamImage from "assets/IMG_20211115_122406.jpg";

---

<section class="py-16 text-center">
  <h2 class="text-3xl font-bold text-gray-800 mb-6">Meet Our Team</h2>
  <Picture src={TeamImage} alt="RSE Team" class="mx-auto rounded-lg shadow-lg w-full max-w-3xl">
</section>