<section class="container mx-auto py-10">
  <h2 class="text-3xl font-bold text-gray-800 text-center mb-6">Latest from X</h2>
  <div class="flex justify-center">
    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="light" href="https://twitter.com/MORUBKK">Tweets by MORU_Oxford</a>
  </div>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>